$padding: 36px;
$width: 800px;
$transition-time: 0.4s;
$animation-time: 0.75s;
$color-text: #e8e8e8;
$color-secondary:#f0f0f0;
$col-spacing: $padding*0.25;
$shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);

html,
body {
	height: 100%;
}

body {
	font-family: 'Cinzel', sans-serif;
	color: $color-text;
	background: #131313 url(images/background.jpg) center center no-repeat;
	background-size: cover;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.55em;
	margin: 0;
	text-align: center;
	-ms-overflow-style: none;
}

#insulter {
	display: flex;
	align-items: center;
	min-height: 100vh;

	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	ul,
	li {
		width: auto;
	}

	ul {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}

	li {
		text-align: left;
	}

	h1,
	h2,
	h3,
	h4 {
		font-family: 'Cinzel Decorative', sans-serif;
	}

	h1,
	h2 {
		letter-spacing: 0.06em;
		font-weight: 400;
		text-transform: none;
		color: $color-text;
	}

	h1 {
		font-size: 3rem;
		margin: 0 0 $padding/1.2;

		&.metal {
			text-align: center;
			letter-spacing: 4px;
			position: relative;
			font-size: 5rem;
			line-height: 1.2;

			span {
				position: absolute;
				text-decoration: none;
				width: 120%;
				left: -10%;
				right: -10%;
				height: 100%;

				color: #55514e;
				-webkit-mask-image: -webkit-gradient(linear,
						left top,
						left bottom,
						from(rgba(0, 0, 0, 1)),
						color-stop(50%, rgba(0, 0, 0, 0.2)),
						to(rgba(0, 0, 0, 1)));
				text-shadow: $shadow;
			}

			&:after {
				color: #dbdad8;
				text-shadow: -1px 1px 1px #fff;
				content: "iNsuLteR";
			}
		}
	}

	#insult {
		position: relative;
		display: inline-block;
		text-align: center;
		width: auto;
		margin: 0 auto $padding;
		overflow: hidden;
		max-height: 0px;
		opacity: 1;
		
		-webkit-transition: all $animation-time ease-in-out;
		-moz-transition: all $animation-time ease-in-out;
		-o-transition: all $animation-time ease-in-out;
		transition: all $animation-time ease-in-out;
		div {
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			padding: $padding/1.5 0;
			line-height: 1.25;
			text-transform: capitalize;
			-webkit-transition: all $animation-time ease-in-out;
			-moz-transition: all $animation-time ease-in-out;
			-o-transition: all $animation-time ease-in-out;
			transition: all $animation-time ease-in-out;

			&.transitioning {
				opacity: 0;
			}
		}

		&.active {
			height: auto;
			max-height: 200px;
			div {
				border-color: rgba($color-text,0.8);
			}
		}

	}

	.container {
		position: relative;
		display: block;
		margin: auto;
		width: 100%;
		max-width: $width;
		padding-left: $padding;
		padding-right: $padding;
		box-sizing: border-box;
	}

	.btn {
		font-family: 'Cinzel', sans-serif;
		cursor: pointer;
		position: relative;
		display: table;
		margin: 0 auto;
		width: auto;
		position: relative;
		line-height: 1;
		padding: $padding*0.35 $padding*0.5;
		color: $color-text;
		border: 1px solid $color-text;
		background: transparent;
		font-weight: 400;
		font-size: 1rem;
		outline: none;
		text-decoration: none;
		opacity: 0.9;

		-webkit-transition: all $transition-time ease-in-out;
		-moz-transition: all $transition-time ease-in-out;
		-o-transition: all $transition-time ease-in-out;
		transition: all $transition-time ease-in-out;

		&:hover,
		:focus {
			text-decoration: none;
			background: transparent;
			color: $color-secondary;
			border-color: $color-secondary;
			opacity: 1;
		}

	}

	.row {
		display: flex;
		align-items: center;

		.col {
			flex: 'flex-grow';
		}
	}
}


/*
.footer {
	margin-top: $padding*2;
	border-top: 1px solid rgba($color-text, 0.1);
	padding: $padding 0;

	.col {
		width: 100%;
	}

	.social-media {
		text-align: right;

		a {
			position: relative;
			margin-top: -4px;
			text-align: center;
			display: inline-block;
			color: $color-background;
			background-color: rgba($color-text, 0.25);
			font-size: 1.05rem;
			line-height: 1;
			padding: 0.5rem 0.5rem;
			border-radius: 3rem;
			width: 32px;
			height: 32px;
			margin-left: $padding*0.25;
			-webkit-transition: all $transition-time ease-in-out;
			-moz-transition: all $transition-time ease-in-out;
			-o-transition: all $transition-time ease-in-out;
			transition: all $transition-time ease-in-out;

			&:hover,
			:focus {
				color: $color-background;
				background-color: $color-primary;
			}
		}
	}

	.copyright {
		text-align: left;
		font-size: 12px;
		color: rgba($color-text, 0.45);
	}

}*/